@import '../../../../styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}